In [21]:
import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot')
import numpy as np
from sklearn.cluster import KMeans
from sklearn import preprocessing, cross_validation
import pandas as pd

/usr/local/lib/python2.7/dist-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [73]:
# Pclass Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd)
# survival Survival (0 = No; 1 = Yes)
# name Name
# sex Sex
# age Age
# sibsp Number of Siblings/Spouses Aboard
# parch Number of Parents/Children Aboard
# ticket Ticket Number
# fare Passenger Fare (British pound)
# cabin Cabin
# embarked Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)
# boat Lifeboat
# body Body Identification Number
# home.dest Home/Destination


df = pd.read_excel('titanic.xls')

In [74]:
df.drop(['body', 'name'], 1, inplace= True)
df.head()

,pclass,survived,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,home.dest
0,1,1,female,29.0000,0,0,24160,211.3375,B5,S,2,"St Louis, MO"
1,1,1,male,0.9167,1,2,113781,151.5500,C22 C26,S,11,"Montreal, PQ / Chesterville, ON"
2,1,0,female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,"Montreal, PQ / Chesterville, ON"
4,1,0,female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,"Montreal, PQ / Chesterville, ON"

In [75]:
df.convert_objects(convert_numeric = True)
df.fillna(0, inplace= True)

/home/jagwarrx/.local/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if __name__ == '__main__':

In [76]:
# Cycle through coloums

def handle_non_numerical_data(df):
    columns = df.columns.values
    
    for column in columns:
        # create dictionary
        text_digit_vals = {}        
        def convert_to_int(val):
            return text_digit_vals[val]
        
        # if not int or float
        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            column_contents = df[column].values.tolist()
            unique_elements = set(column_contents) #get unique contents
        
            x = 0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    text_digit_vals[unique] = x
                    x+=1
        # map 
            df[column] = list(map(convert_to_int, df[column]))

    return df

In [77]:
df = handle_non_numerical_data(df)
df

,pclass,survived,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,home.dest
0,1,1,1,29.0000,0,0,757,211.3375,31,2,1,248
1,1,1,0,0.9167,1,2,326,151.5500,158,2,19,348
2,1,0,1,2.0000,1,2,326,151.5500,158,2,0,348
3,1,0,0,30.0000,1,2,326,151.5500,158,2,0,348
4,1,0,1,25.0000,1,2,326,151.5500,158,2,0,348
5,1,1,0,48.0000,0,0,703,26.5500,135,2,6,351
6,1,1,1,63.0000,1,0,571,77.9583,184,2,20,335
7,1,0,0,39.0000,0,0,677,0.0000,93,2,0,253
8,1,1,1,53.0000,2,0,707,51.4792,74,2,17,278
9,1,0,0,71.0000,0,0,47,49.5042,0,3,0,33
10,1,0,0,47.0000,1,0,523,227.5250,13,3,0,351
11,1,1,1,18.0000,1,0,523,227.5250,13,3,9,351
12,1,1,1,24.0000,0,0,574,69.3000,49,3,12,130
13,1,1,1,26.0000,0,0,666,78.8500,0,2,11,0
14,1,1,0,80.0000,0,0,187,30.0000,119,2,16,321
15,1,0,0,0.0000,0,0,895,25.9250,0,2,0,351
16,1,0,0,24.0000,0,1,201,247.5208,32,3,0,20
17,1,1,1,50.0000,0,1,201,247.5208,32,3,11,20
18,1,1,1,32.0000,0,0,728,76.2917,76,3,13,0
19,1,0,0,36.0000,0,0,350,75.2417,100,3,14,364
20,1,1,0,37.0000,1,1,399,52.5542,105,2,8,351
21,1,1,1,47.0000,1,1,399,52.5542,105,2,8,351
22,1,1,0,26.0000,0,0,355,30.0000,178,3,8,351
23,1,1,1,42.0000,0,0,523,227.5250,0,3,9,0
24,1,1,1,29.0000,0,0,177,221.7792,144,2,13,0
25,1,0,0,25.0000,0,0,745,26.0000,0,3,0,57
26,1,1,0,25.0000,1,0,803,91.0792,181,3,10,330
27,1,1,1,19.0000,1,0,803,91.0792,181,3,10,330
28,1,1,1,35.0000,0,0,790,135.6333,150,2,13,0
29,1,1,0,28.0000,0,0,922,26.5500,38,2,17,246
...,...,...,...,...,...,...,...,...,...,...,...,...
1279,3,0,1,14.0000,0,0,669,7.8542,0,2,0,0
1280,3,0,0,22.0000,0,0,932,7.8958,0,2,0,0
1281,3,0,0,22.0000,0,0,811,9.0000,0,2,0,155
1282,3,0,0,0.0000,0,0,652,8.0500,0,2,0,0
1283,3,0,0,0.0000,0,0,881,7.5500,0,2,0,0
1284,3,0,0,0.0000,0,0,291,8.0500,0,2,0,0
1285,3,0,0,32.5000,0,0,656,9.5000,0,2,0,0
1286,3,1,1,38.0000,0,0,125,7.2292,0,3,15,0
1287,3,0,0,51.0000,0,0,400,7.7500,0,2,0,0
1288,3,0,0,18.0000,1,0,254,6.4958,0,2,0,0
1289,3,0,0,21.0000,1,0,271,6.4958,0,2,0,0
1290,3,1,1,47.0000,1,0,153,7.0000,0,2,0,0
1291,3,0,0,0.0000,0,0,540,8.7125,0,2,0,0
1292,3,0,0,0.0000,0,0,176,7.5500,0,2,0,0
1293,3,0,0,0.0000,0,0,893,8.0500,0,2,0,0
1294,3,0,0,28.5000,0,0,321,16.1000,0,2,0,0
1295,3,0,0,21.0000,0,0,290,7.2500,0,2,0,0
1296,3,0,0,27.0000,0,0,282,8.6625,0,2,0,0
1297,3,0,0,0.0000,0,0,40,7.2500,0,2,0,0
1298,3,0,0,36.0000,0,0,138,9.5000,0,2,0,0
1299,3,0,0,27.0000,1,0,235,14.4542,0,3,15,0
1300,3,1,1,15.0000,1,0,235,14.4542,0,3,0,0
1301,3,0,0,45.5000,0,0,445,7.2250,0,3,0,0
1302,3,0,0,0.0000,0,0,919,7.2250,0,3,0,0
1303,3,0,0,0.0000,0,0,383,14.4583,0,3,0,0
1304,3,0,1,14.5000,1,0,563,14.4542,0,3,0,0
1305,3,0,1,0.0000,1,0,563,14.4542,0,3,0,0
1306,3,0,0,26.5000,0,0,244,7.2250,0,3,0,0
1307,3,0,0,27.0000,0,0,823,7.2250,0,3,0,0
1308,3,0,0,29.0000,0,0,775,7.8750,0,2,0,0

In [78]:
len(df)

1309

In [79]:
X = np.array(df.drop(['survived'], 1).astype(float))
X = preprocessing.scale(X) #IMP for accuracy
y = np.array(df['survived'])

clf = KMeans(n_clusters=2) #arbitrarily assigns clusters
clf.fit(X)

KMeans(copy_x=True, init='k-means++', max_iter=300, n_clusters=2, n_init=10,
    n_jobs=1, precompute_distances='auto', random_state=None, tol=0.0001,
    verbose=0)

In [80]:

correct = 0
for i in range(len(X)):
    predict_me = np.array(X[i].astype(float))
    predict_me = predict_me.reshape(-1, len(predict_me))
    prediction = clf.predict(predict_me)
    if prediction[0] == y[i]:
        correct += 1

print(correct/float(len(X)))

0.692131398014